$white: #fff;
$black: #333333;
$grey: #bdbdbd;
$light_grey: #dbdbdb;
$light_whity_grey: #f8f2f2e8;
$grey_text: #504f54;
$grey_card_BG: #f9f9fb;
$dark-grey: #a1a1a1;
$brickred: #fd5056;
$light_white: #f9f9fb;
$light_black_grey_color: #404444;
$dark_grey: #a6a6a7;
$dark_grey2: #767679;
$light_grey_3: #f6f6f6;